<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Creat new session</title>
  <!-- plugins:css -->
  <%- include ("../partials/_plugins_css.ejs") %>
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/shared/dashboard-style.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/script/clientLib.js"></script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
		<%- include ("../partials/_navbar.ejs") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include ("../partials/_sidebar.ejs") %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <!-- Page Title Header Starts-->
          <div class="row page-title-header">
            <div class="col-12">
              <div class="page-header">
                <h4 class="page-title">Session Replay</h4>
              </div>
            </div>
            <div class="col-md-12">
              <div class="page-header-toolbar">
                <div class="sort-wrapper" style="float:left">
                  <!--									<form action="/table" method="get">-->
                  <button type="submit" class="btn btn-secondary toolbar-item"
                    onclick="javascript:window.location.href='/list'">Back
                  </button>
                  <!--									</form>-->


                  <div class="dropdown ml-3 toolbar-item">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownexport">
                      <a class="dropdown-item" href="/web_tools/calculator.html" target="_blank">Graphing
                        Calculator</a>
                      <!-- <a class="dropdown-item" href="#">Export as DOCX</a>
                <a class="dropdown-item" href="#">Export as CDR</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Page Title Header Ends-->
          <div class="row">
            <div class="col-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Session Recording</h4>
                  <div id="video_box" name="video_box" class="video_box">
                    <video controls width="100%">
                      <source src="<%= session_video_url%>" type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 stretch-card" id="attachment_box" style="display: none;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Attachment File</h4>
                  <div>
                    <a href="/error/cannot_get_attachment.html" id="download_attachment" target="_blank">
                      <button type="button" class="btn btn-dark btn-fw">
                        <i class="mdi mdi-cloud-download"></i>Download
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>







    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%- include ("../partials/_footer.ejs") %>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
	<%- include ("../partials/_plugins_js.ejs") %>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/assets/js/shared/off-canvas.js"></script>
  <script src="/assets/js/shared/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/assets/js/shared/dashboard.js"></script>
  <!-- End custom js for this page-->
  <script src="/script/display_attachment.js"></script>
</body>
</html>